* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
}

body {
    background-color: darken(#262e2e, 1);
}