.banner {
    background-image: url(../img/banner-img.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    &-text {
        color: #fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        h1 {
            margin: 0, 0.5em;
            font-size: 4rem;
            letter-spacing: 0.2rem;
            opacity: 0.8;

            @include mq("s"){font-size: 3rem;}
        }
    }
}